body {
    font-family: 'Arial', sans-serif;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.scoreboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

h1 {
    grid-column: span 2;
}

.team {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
}

.score {
    font-size: 60px;
    color: #333;
}



.controls button {
    padding: 10px 15px;
    font-size: 24px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.controls button:hover {
    background-color: #0056b3;
}

.match-info {
    grid-column: span 2;
    margin-top: 20px;
}
